body {
  font-family: Arial;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: blue;
}

#torrentList div {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

textarea {
  width: 300px;
  height: 80px;
}
